<div style="display: flex; height: 100vh;">
    <!-- Menú -->
    <div style="background-color: #ffffff; color: #000000; font-family: 'Poppins', sans-serif; width: 25%; padding: 40px;">
      <h2 style="font-weight: bold; text-align: center;">Menú</h2>
      <nav>
        <ul style="list-style-type: none; padding: 0; margin: 0;">
          <li style="margin-bottom: 10px;"><a href="#" style="text-decoration: none; color: #000000;">Control</a></li>
          <li style="margin-bottom: 10px;"><a href="#" style="text-decoration: none; color: #000000;">Invitados</a></li>
          <li style="margin-bottom: 10px;"><a href="#" style="text-decoration: none; color: #000000;">Rutinas</a></li>
          <li><a href="#" style="text-decoration: none; color: #000000;">Reportes</a></li>
        </ul>
      </nav>
    </div>
  
    <!-- Contenido -->
    <div style="background-color: #001749; color: #ffffff; font-family: 'Poppins', sans-serif; width: 75%; padding: 50px; margin: 50px;">
      <h2 style="font-size: 2em; text-align: center;">¡Bienvenido!</h2>
      <p style="font-size: 1.5em; ">Controla tu casa creando rutinas y compartiéndolas con tus invitados. Las alarmas te ayudarán a monitorear tus electrodomésticos y te recordarán eventos importantes.</p>
  
      <p style="font-size: 1.5em; margin-top: 30px;">A continuación verás las alarmas de rutinas próximas a sonar hoy:</p>
      <table style="width: 100%; margin-top: 10px; border-collapse: collapse;">
        <tr>
          <th style="border: 1px solid #ffffff; padding: 10px;">Rutina</th>
          <th style="border: 1px solid #ffffff; padding: 10px;">Hora</th>
        </tr>
        <tr>
          <td style="border: 1px solid #ffffff; padding: 10px;">Puerta trasera</td>
          <td style="border: 1px solid #ffffff; padding: 10px;">10:00 PM</td>
        </tr>
        <tr>
          <td style="border: 1px solid #ffffff; padding: 10px;">Puerta delantera</td>
          <td style="border: 1px solid #ffffff; padding: 10px;">11:00 PM</td>
        </tr>
        <tr>
          <td style="border: 1px solid #ffffff; padding: 10px;">Persianas</td>
          <td style="border: 1px solid #ffffff; padding: 10px;">11:00 PM</td>
        </tr>
      </table>
    </div>
    <!-- Botón "Salir" -->
    <button class="cancelar-button" style="position: absolute; top: 125px; right: 20px; padding: 10px 20px; background-color: #FFD1A7; color: #000000; border: none; border-radius: 10px; font-family: 'Poppins', sans-serif;">Salir</button>

  </div>
